// estilos de mq tablet
@include responsive(tablet) {
    header nav ul {
      flex-direction: column;
      align-items: center;
  
      li {
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
  
    main {
      padding: 20px;
    }
  
    .contenedor {
      margin-left: 0;
    }
  }