// Variables de color
$background-header: #f8f9fa;
$background-main: #f8e3a3;
$background-section: #a2a4a4;
$background-footer: #ced8e0;
$color-black: black;
$color-white: #fff;
$color-orange: orangered;
$color-grey: #333;
$color-border: #ddd;
$padding-default: 10px;
$border-radius-default: 15px;